{% extends "base.html" %}
{% set optional = optional %}
{% block title %}{{ post.title }}{% endblock %}
{% block body %}
    <div>
        <h1>{{ post.title }}</h1>
        <div>By {{ post.username }} on {{ post.date_created }}</div>
        <div><p>{{ post.content | safe }}</p></div>
    </div>
    <div>
        {% if post.can_edit %}
            <div>
                <form action="/post/{{ post.id }}/delete" method="get">
                   <button type="submit">Delete this post (No Mercy!!)</button> 
                </form>
            </div>
            <div>
                <form action="/post/{{ post.id }}/edit" method="get">
                   <button type="submit">Edit this post</button> 
                </form>
            </div>
        {% endif %}
    </div>
    <div>
        {% if post.logged_in %}
            <!--If the user is logged in, show the comment box and submit button.-->
            <div>
                <div>
                    <textarea name="comment-content" id="comment-content" rows="8" cols="40"></textarea>
                </div>
                <button name="submit-comment" id="submit-comment" type="submit" >Submit Comment</button>
            </div>
        {% else %}
            <!--
                Else, (the user is not logged in,) show a button to the login page.
            -->
            <div>
                <form action="/session/login" method="get">
                   <button type="submit">Login to comment!</button> 
                </form>
            </div>
        {% endif %}
    </div>
    <div>
        <hr>
        <h2>View Comments</h2>
    </div>
    <div postid="{{ post.id }}" name="comment-box" id="comment-box" >
        {% for comment in comments  %}
           <div>
               <hr>
              <div>
                  By {{ comment.username }} on {{ comment.date_created }}
              </div> 
              <div>
                  <p>{{ comment.content | safe }}</p>
              </div>
           </div> 
        {% endfor %}
    </div>
{% endblock %}

