{% extends "base.html" %}
{% block title %}{{ post_title }}{% endblock %}
{% block body %}
    <div>
        <h1>{{ post_title }}</h1>
        <div>By {{ post_author_id }} on {{ post_date_created }}</div>
        <p>{{ post_content | safe }}</p>
    </div>
    {% if can_edit %}
        <div>
            <form action="{{ post_id }}/edit" method="get">
                <button type="submit" >Edit this Post</button>
            </form>
        </div>
    {% endif %}
    {% if logged_in %}
        <div>
            <h2>Comments</h2>
            <h3>Leave a comment</h3>
            <form action="/" method="post">
                <textarea name="comment-content" id="comment-content" rows="8" cols="40"></textarea>
                <div>
                    <button type="submit">Leave a Comment</button>
                </div>
            </form>
            <hr>
        </div>
    {% else %}
        <div>
            <form action="/session/login" method="get">
                <button type="submit">Login to Comment!</button>
            </form>
        </div>
    {% endif %}
   <div>
       {% for comment in comments  %}
            <div>By {{ comment.author_id }} on {{ comment.date_created }}</div>
            <p>{{ comment.content | safe }}</p>
            <hr>
       {% endfor %}
   </div> 
{% endblock %}
